body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.app-wrap {
  display: flex;
  text-align: center;
}
.currency-converter {
  background-color: blue;
  text-align: center;
  align-items: center;
}

.exchange-rate {
  background-color: purple;
  text-align: center;
}

.news-feed {
  background-color: rgb(132, 172, 65);
  text-align: center;
}

table {
  margin: auto;
}

button:hover {
  background-color: coral;
}